header.main-header(style="background-image: url(/img/img_bg_header.png)")
  .container
    .row.personal-profile
      .col-md-4.personal-profile__avatar
        img(src="/img/img_avatar.png" alt="Ava")
      .col-md-8
        p.personal-profile__name Павел Тарасенко_
        p.personal-profile__work full stack developer, systems administrator
        .personal-profile__contacts
          dl.contact-list.contact-list__opacity-titles
            dt Возраст:
            dd 31
            dt Телефон:
            dd 
              a(href="tel:89117398113") 8 (911) 739-81-13
            dt Email:
            dd 
              a(href="mailto:goo.kambl4@gmail.com") goo.kambl4@gmail.com
            dt Город:
            dd Санкт-Петербург
        p.personal-profile__social
          a(href="https://github.com/kambl4" target="_blank")
            i.fab.fa-github
          a(href="https://vk.com/kambl4" target="_blank")
            i.fab.fa-vk