script(src="/js/jquery-2.2.4.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/menu.js")
script(src="/js/jquery.waypoints.js")
script(src="/js/progress-list.js")
script(src="/js/section.js")
script(src="/js/portfolio-filter.js")
script(src="/js/slider-carousel.js")
script(src="/js/mobile-menu.js")
script(src="/js/contacts.js")
script(src="/js/mbclicker.min.js")
script(src="/js/site-btn.js")
script(src="/js/style-switcher.js")