section.container.section#hello
  .row
    .col-md-10
      h2.section__title#hello_header Привет_
      p.section__description.text-justify
        | Высшее образование я получил в городе Норильске, по специальности «Информационные системы и технологии». Свою карьеру я начал строить с должности системного администратора, и это меня затянуло на десяток лет&nbsp;
        i.far.fa-smile
        br
        br
        | Свободное от работы время я уделял маленьким, выдуманным мной, проектам. Среди них есть проект по автоматизации овощных теплиц, система бронирования переговорных комнат, панель управления серверным оборудованием и точками доступа, разнообразные боты для мессенджеров. 
        br
        br
        | Опыт системного администрирования и тяга к программированию дали уверенную основу для начала работы над большими проектами.