section.container.section#portfolio
  .row
    .col-md-12
      h2.section__title#portfolio_header Мои проекты_
      .text-center
        p 
          | Все проекты разрабатывались мной "с нуля" и поддерживаются по настоящее время<br>
          | Код в приватных репках на Github, доступ по запросу
        
  .portfolio-cards
    .row.project-card(data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="beplus")
      .col-md-6.col-lg-5.project-card__img
        img(src="/img/beplus.png" alt="beplus.life")
      .col-md-6.col-lg-7.project-card__info
        h3.project-card__title Социальная сеть beplus.life
        p.project-card__description
          | Описание
        p.project-card__stack Stack:
        ul.tags
          li html5
          li css3
          li javascript
          li vue.js
          li node.js
          li pug
          li socket.io
          li mongodb
          li webpack
        a.project-card__link(target="_blank" href="https://beplus.life") https://beplus.life

    .row.project-card(data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="master")
      .col-md-6.col-lg-5.project-card__img
        img(src="/img/master.png" alt="Master")
      .col-md-6.col-lg-7.project-card__info
        h3.project-card__title CRM-система с возможностью аренды сейфовых ячеек MASTER
        p.project-card__description
          | Описание
        p.project-card__stack Stack:
        ul.tags
          li html5
          li css3
          li bootstrap3
          li javascript
          li jquery
          li vue.js
          li node.js
          li pug
          li socket.io
          li mongodb

    .row.project-card(data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="navius-site")
      .col-md-6.col-lg-5.project-card__img
        img(src="/img/navius-site.png" alt="Navius site")
      .col-md-6.col-lg-7.project-card__info
        h3.project-card__title Сайт Центра сделок с недвижимостью
        p.project-card__description
          | Описание
        p.project-card__stack Stack:
        ul.tags
          li html5
          li css3
          li bootstrap3
          li javascript
          li jquery
          li vue.js
          li node.js
          li pug
          li mongodb
        a.project-card__link(target="_blank" href="http://centr-sdelok.ru") http://centr-sdelok.ru

    .row.project-card(data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="navius-admin")
      .col-md-6.col-lg-5.project-card__img
        img(src="/img/navius-admin.png" alt="Navius admin")
      .col-md-6.col-lg-7.project-card__info
        h3.project-card__title Админка к сайту Центра сделок с недвижимостью
        p.project-card__description
          | Описание
        p.project-card__stack Stack:
        ul.tags
          li html5
          li css3
          li bootstrap3
          li javascript
          li jquery
          li vue.js
          li node.js
          li pug
          li mongodb
        a.project-card__link(target="_blank" href="http://centr-sdelok.ru") http://centr-sdelok.ru

    .row.project-card(data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="happy-electron")
      .col-md-6.col-lg-5.project-card__img
        img(src="/img/happy-electron.png" alt="Happy Electron")
      .col-md-6.col-lg-7.project-card__info
        h3.project-card__title Frontend для взаимодействия с базой элементов питания
        p.project-card__description
          | Описание
        p.project-card__stack Stack:
        ul.tags
          li html5
          li css3
          li bootstrap3
          li javascript
          li jquery
          li charts.js
          li vue.js
          li node.js
          li pug
    