section.container.section#resume
  .row
    .col-md-10
      h2.section__title#resume_header Резюме_
      p.section__description
        | Русский — родной<br>
        | Английский — литературный перевод, немного говорю<br>
        | Javascript - в крови&nbsp;
        i.far.fa-smile
  .row
    .col-md-8.section__resume.resume-list
      h3.resume-list_title Образование
      .resume-list__block
        p.resume-list__block-title Норильский индустриальный институт
        p.resume-list__block-date 2004 - 2009
        p 
          | Факультет: Инженерно-экономочиский<br>
          | Специальность: Информационные системы и технологии (ИС-04)<br>
          | Диплом: Инженер в области информационных технологий

      .resume-list__block
        p.resume-list__block-title Национальный открытый университет ИНТУИТ
        p.resume-list__block-date 2012
        p
          | Сертификаты:<br>
          a(target="_blank" href="http://www.intuit.ru/diplom/GQL0FjNTSP7a/A00211338/") _Introduction to Solaris 10 Administration<br>
          a(target="_blank" href="http://www.intuit.ru/diplom/GQL0FjNTSP7a/A00211351/") _Introduction to UNIX system administration<br>
          a(target="_blank" href="http://www.intuit.ru/diplom/GQL0FjNTSP7a/A00211347/") _Linux Administration<br>
          a(target="_blank" href="http://www.intuit.ru/diplom/GQL0FjNTSP7a/A00211358/") _Microsoft Windows Server 2003 Administration<br>
          a(target="_blank" href="http://www.intuit.ru/diplom/GQL0FjNTSP7a/A00210885/") _Microsoft Windows XP Network Administration<br>
          a(target="_blank" href="http://www.intuit.ru/diplom/GQL0FjNTSP7a/A00210763/") _MySQL Administration<br>
          a(target="_blank" href="http://www.intuit.ru/diplom/GQL0FjNTSP7a/A00212972/") _OS Linux<br>
          a(target="_blank" href="http://www.intuit.ru/diplom/GQL0FjNTSP7a/A00211356/") _OS Unix Administration<br>
          a(target="_blank" href="http://www.intuit.ru/diplom/GQL0FjNTSP7a/A00212973/") _Основы организации локальных сетей
      .resume-list__block
        p.resume-list__block-title Javascript.ru
        p.resume-list__block-date 2018
        p 
          | Сертификат:<br>
          a(target="_blank" href="https://learn.javascript.ru/courses/js-20180319-2100/kambl4/certificate.jpg") _Курс JavaScript/DOM/интерфейсы
  .row
    .col-md-8.section__resume.resume-list
      h3.resume-list_title Опыт работы
      .resume-list__block
        p.resume-list__block-title МУ Кинокомплекс "Родина", г. Норильск
        p.resume-list__block-date 10.2008 - 04.2009
        p
          strong Старший системный администратор (Полная занятость)<br>
          | Настройка и администрирование ЛВС на базе Windows Server 2003. Техническое обслуживание компьютерной и копировальной техники. Техническая поддержка пользователей. Защита от вирусных атак. Администрирование Kerio Winroute Firewall. Парк компьютеров 60 ед.
      .resume-list__block
        p.resume-list__block-title ООО "Медпроект", г. Норильск
        p.resume-list__block-date 05.2009 - 07.2010
        p
          strong Системный администратор (Частичная занятость)<br>
          | Поддержание стабильной работы сети передачи данных. Администрирование автоматизационной системы по продажам медикаментов, на базе 1С. Настройка серверного оборудования "с нуля". Настройка шлюза, VPN-туннеля между удаленными точками, на базе операционной системы FreeBSD. Настройка и администрирование шлюза на базе EFW (Endian Firewall). Парк компьютеров 25 ед.
      .resume-list__block
        p.resume-list__block-title ТД "Максим", г. Норильск
        p.resume-list__block-date 10.2009 - 08.2010
        p
          strong Системный администратор (Полная занятость)<br>
          | Планирование и развитие единой информационной системы. Формирование предложений по приобретению ПО. Выбор поставщика и закупка оборудования. Администрирование единой ИС. Обслуживание видеооборудования наблюдения. Обслуживание миниАТС. Администрирование веб-сайта и внутренних порталов. Обеспечение и контроль использования Интернет-коммуникаций. Администрирование почтового сервера, внутреннего чата. Обслуживание оргтехники и заказ расходных матерьялов. Управление конфигурациями 1С. Обеспечение систем мобильной торговли. Формирование программ обучения пользователей и их проведение. Из специфики: Настройка корпоративных чатов (openfire, ejabberd), web-серверов, MTA (postfix) на базе FreeBSD, а также создание внутреннего корпоративного сайта (html, css, js). Парк компьютеров более 300 ед.
      .resume-list__block
        p.resume-list__block-title ЗАО Группа компаний "GammaMedia", г. Санкт-Петербург
        p.resume-list__block-date 09.2010 - 05.2012
        p
          strong Системный администратор (Полная занятость)<br>
          | Администрирование серверов на базе Windows Server 2003(DHCP, DNS, File server, Terminal server), администрирование домена на базе операционной системы FreeBSD (samba, ldap, ldapAdmin), администрирование инетрнет-шлюза на базе FreeBSD (pf, squid, squidGuard, DNS), сопровождение сайта. Парк компьютеров 60 ед. + небольшой удаленный офис. Настройка и поддержка веб-сервера (apache) и почтового сервера (postfix) для 6 доменов.
      .resume-list__block
        p.resume-list__block-title 
          | ЗАО ГАЗИНФОРМСЕРВИС (
          a(target="_blank" href="http://www.gaz-is.ru" style="text-decoration: underline;") gaz-is.ru
          | ), г. Санкт-Петербург
        p.resume-list__block-date 05.2012 - 11.2012
        p
          strong Инженер-проектировщик<br>
          | Участие в разработке проекта ЦОД Газпром Москва. Составление технической документации по средствам IDS, IPS. Настройка серверов Spark (ОС Solaris) с составлением детальной документации.
      .resume-list__block
        p.resume-list__block-title 
          | Topface (
          a(target="_blank" href="https://topface.com" style="text-decoration: underline;") topface.com
          | ), г. Санкт-Петербург
        p.resume-list__block-date 11.2012 - 12.2015
        p
          strong Системный администратор<br>
          | Самостоятельная поддержка работы ИТ инфраструктуры офиса на 150 человек (Windows, Ubuntu, Mac) + 16 серверов (Gentoo, Ubuntu). Разработка собственной системы мониторинга на связке flask-python-bootstrap. Монтаж локальной сети офиса "с нуля" (1000 м2, 4 этажа) Настройка всех необходимых сервисов для работы LAN (DNS, DHCP, VPN и пр.). Настройка беcшовной wifi сети с гостевым доступом. Установка и настройка видеонаблюдения. Заведующий складом (инвентаризации, закупка комплектующих и расходников). Администрирование 1С (бэкап, обновление)
      .resume-list__block
        p.resume-list__block-title 
          | Центр сделок с недвижимостью (
          a(target="_blank" href="http://centr-sdelok.ru" style="text-decoration: underline;") centr-sdelok.ru
          | ), г. Санкт-Петербург
        p.resume-list__block-date 12.2015 - ...
        p
          strong Программист (SEO-специалист пол ставки)<br>
          | Разработка корпоративного сайта и админки для этого сайта. Разработка web приложения Личный кабинет риэлтора в формате SPA. Разработка CRM-системы с возможностью управления сейфовыми ячейками ROSENGRENS и формированием договора аренды. (подробнее в разделе 
          a(href="#portfolio" style="text-decoration: underline;") Мои проекты
          | )
  .row.section__resume.progress-list.js-progress-list
    .col-md-12
      h3.progress-list__title Навыки программирования
    .col-md-5.mr-auto
      .progress-list__skill
        p
          span.progress-list__skill-title html5
          span.progress-list__skill-value 90%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100")
      .progress-list__skill
        p
          span.progress-list__skill-title css3
          span.progress-list__skill-value 60%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100")
      .progress-list__skill
        p
          span.progress-list__skill-title javascript
          span.progress-list__skill-value 60%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100")
      .progress-list__skill
        p
          span.progress-list__skill-title jquery
          span.progress-list__skill-value 40%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100")
      .progress-list__skill
        p
          span.progress-list__skill-title vue.js
          span.progress-list__skill-value 65%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100")
      .progress-list__skill
        p
          span.progress-list__skill-title node.js
          span.progress-list__skill-value 55%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100")
    .col-md-5.mr-auto
      .progress-list__skill
        p
          span.progress-list__skill-title pug
          span.progress-list__skill-value 90%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100")
      .progress-list__skill
        p
          span.progress-list__skill-title socket.io
          span.progress-list__skill-value 95%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100")
      .progress-list__skill
        p
          span.progress-list__skill-title ajax
          span.progress-list__skill-value 95%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100")
      .progress-list__skill
        p
          span.progress-list__skill-title mongodb
          span.progress-list__skill-value 50%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
      .progress-list__skill
        p
          span.progress-list__skill-title git
          span.progress-list__skill-value 70%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100")
      .progress-list__skill
        p
          span.progress-list__skill-title adobe photoshop
          span.progress-list__skill-value 55%
        .progress
          .progress-bar(role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100")
